.filters_container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    column-gap: 20px;
    justify-content: center;
}

.filters{
    background: var(--background-color-secondary);
}

.search_bar, .filters{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 0px 20px;
    max-height: 35px;
    height: 100%;
    padding: 10px;
    border-radius: 25px;
    align-content: center;
}

.search_bar{
    width: 100%;
    max-width: 500px;
}

.search_bar form{
    width: 100%;
    max-width: 70%;
}

.search_bar form input{
    width: 100%;
    max-width: 90%;
}

.search_bar p{
    color: var(--background-color-secondary);
}

.search_bar form, .genre_filter form{
    background: white;
    margin: 0;    
    box-sizing: content-box;
    border-radius: 25px;
    border: 2px solid var(--movie-background);
}

.search_bar input, .genre_filter form select{
    max-height: 30px;
    height: 100%;
    border: none;
    border-radius: 25px;
    padding: 0px 10px;
}

.search_bar input:focus-visible{
    outline: none;
}

.search_bar button{
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilos del Popup */
.user_menu {
    position: relative;
}

.user_icon {
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.user_pic{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.popup {
    display: none;
    position: absolute;
    top: 40px; /* Ajusta este valor según sea necesario */
    right: 0;
    width: 200px;
    background-color: var(--background-color);
    border: 2px solid #ccc;
    border-radius: 10px;
    z-index: 10;
}

.popup a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #ccc;
}

.popup a:last-child {
    border-bottom: none;
}

.popup.active {
    display: block;
}

/* Clase de escala para efecto hover */
.hover_scale {
    transition: transform 0.2s;
}

.hover_scale:hover {
    transform: scale(1.1);
}

option{
    font-family: 'Roboto', sans-serif;
}

.movies_container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
}

.movie{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;
    align-items: center;
    padding: 15px;
    width: 100%;
    border-radius: var(--form-radius);
    background: var(--movie-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie h2, h3, p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.movie_picture{
    width: 150px; /* Ajusta el tamaño de la imagen para hacerla más rectangular */
    height: 150px;
    border-radius: 50%; /* Ajusta el radio de borde si es necesario */
   /* margin-right: 20px; /* Añade un margen a la derecha de la imagen */
}

.movie_title{
    font-size: 16px;
    /*margin-top: 15px !important;*/
    max-width: 150px;
    width: 100%;
}

.movie_date{
    font-size: 16px;
    /*align-self: flex-end;*/
}

.movie_title{
    align-self: center;
}

.movie_title a{
    text-decoration: none;
    color: black;
}

.movie_score{
    align-self: center;
}

.movie_score i{
    color: var(--background-color);
}

.score{
    font-weight: bold;
}

.movie_description_container
{
    max-width: 300px;
    text-align: left;
    width: 100%;

}

.movie_description{
    font-size: 16px;
}

.actions_container
{
    display: flex;
    column-gap: 15px;
}

.actions_container i{
    cursor: pointer;
}

.fa-pen-to-square{
    color: var(--background-color);
}

.fa-trash, .fa-circle-xmark{
    color: red;
}

.add_button{
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
    border: 2px solid var(--movie-background);
    padding: 5px 20px;
    border-radius: 25px;
    background: var(--background-color);
    color: var(--background-color-secondary);
}