/* Estilos para el modal */
.modal {
    overflow-y: scroll;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal_content form{
    display: flex;
    flex-direction: column;
}
  
 .modal_content {
    background-color:var(--background-color-secondary);
    margin: auto;
    padding: 20px;
    border: 2px solid var(--movie-background);
    width: 60%;
    border-radius: 25px;
}
  
.modal_content h2 {
    margin-bottom: 20px;
    text-align: center;
}
  
.modal_content label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
  
.modal_content input, .modal_content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--movie-background);
    border-radius: 10px;
}

#url_imdb{
    color: blue
}
  
.modal_content button {
    background-color: var(--background-color);
    color: var(--background-color-secondary);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    width: fit-content;
    margin-top: 20px;
}
  
.modal_content button:hover {
    background-color: #45475a;
}

#genreCheckboxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}
#genreCheckboxes div{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

#genreCheckboxes div input, #genreCheckboxes div label{
    margin: 0px !important;
}

.close {
    position: relative;
    left: 95%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Evita que la página se desplace */
body.no-scroll {
    overflow: hidden;
}

.delete_modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    align-items: center;
    justify-content: center;
}

.delete_modal_content {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
}

.delete_botones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel_button{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    background-color: var(--movie-background);
}